<mat-card class="card-container">
    <div class="card-layout">

        <img width="224px" height="224px" src={{sprite}}>

        <div>
            <h1><span>{{name | titlecase}}</span> #<span>{{("00" + id).slice(-3)}} </span></h1>
        </div>

        <div class="card-table-container">
            <table class="card-table">
                <tr>
                    <td>Types</td>
                    <td><span *ngFor="let type of types">{{type | titlecase}} </span></td>
                </tr>
                <tr>
                    <td>Attack</td>
                    <td>{{stats[0]}}</td>
                </tr>
                <tr>
                    <td>Defence</td>
                    <td>{{stats[1]}}</td>
                </tr>
                <tr>
                    <td>HP</td>
                    <td>{{stats[2]}}</td>
                </tr>
                <tr>
                    <td>SP Attack</td>
                    <td>{{stats[3]}}</td>
                </tr>
                <tr>
                    <td>SP Defence</td>
                    <td>{{stats[4]}}</td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td>{{stats[5]}}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{weight}}</td>
                </tr>
                <tr>
                    <td>Total Moves</td>
                    <td>{{moves}}</td>
                </tr>
            </table>
        </div>

    </div>
</mat-card>